{
  "presets": ["es2015", "stage-0"],
  "plugins": [
    ["transform-runtime",
    {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }],    
    ["component", [
    {
      libraryName: 'element-ui',
      styleLibraryName: 'theme-default',
    },
    {
      libraryName: 'vue-awesome',
       libDir:"icons"
    }
  ]]]
}
